[Desktop Entry]
Name=OpenPlotter Moitessier HAT
Exec=openplotter-moitessier
Icon=openplotter-moitessier
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
